parameters:
    level: 8
    paths:
        - src
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
        -
            identifier: trait.unused
            path: src/Service/LogParser/DeeplyDecodable.php
        -
            message: '~Property .*::\$id .*int\|null.*never assigned int.*~'
            path: src/Entity/*.php
